.experiences {
    height: auto;
    padding: 10% 0px;
    color: #3e497a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Calibre", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.experiences h1 {
    font-size: 3em;
    color: #CCD6F6;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.experiences .date{
    color: #CCD6F6;
    opacity: 1;
}

@media only screen and (max-width:1169px) {
    .experiences .date{
        color: black;
    }
}

.skills li{
    border-radius: 10px;
    padding: 2px 9px 4px 9px;
    margin-right: 7px;
    margin-top: 10px;
    background-color: #CCD6F6;
    color: #0A192F;
    font-size: 0.9em;
    display: inline-block;
    font-weight: 500;
}

.courses li {
    line-height: 0.3;
    margin-top: 5px;
}

p {
    margin-bottom: 5px;
}