.home {
  align-items: center;
  color: #3e497a;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #CCD6F6;
}

.about h2 {
  font-size: 70px;
  color: #CCD6F6;
  height: auto;
}

.about .prompt {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .about h2 {
    font-size: 40px;
  }
}