.navbar {
  position: sticky;
  top: 0;
  background-color: #3e497a;
  z-index: 1000;
}

.toggleButton {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: flex-end;
  float: right;
}

.toggleButton svg {
  font-size: 50px;
}

.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: #58E0C8;
  cursor: pointer;
}