.navbar {
  padding-left: 94.5%;
  background-color: #21325e;
}

.toggleButton {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  float: right;
}

.toggleButton svg {
  font-size: 50px;
}

.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}