.projects{
  margin: auto;
  width: 40%;
}

.title{
  font-size: 3em;
  text-align: center;
}

.projectItem:hover .header{
  color: #58E0C8;
  transition: 0.2s;
}

.project_tools {
  padding: 0px;
}

.project_tools li{
  border-radius: 10px;
  padding: 2px 9px 4px 9px;
  margin-right: 7px;
  margin-bottom: 8px;
  background-color: #193753;
  color: #58E0C8;
  font-size: 0.9em;
  display: inline-block;
  font-weight: 500;
}